body {
    margin: 0px;
    padding: 0px;
    background: url(../img/cover_bg.jpg) no-repeat;
    width: 100%;
    height: 100%;
    
}
audio{
    background-color: transparent;
    width: 100%;
}
span{
    color: white
}
.header{
    width: 100%;
    float: left;
    font-size: 1em;
    color:white;
    font-family: Arial;
    margin: 5px;
    font-weight: bold;
}
.tittle{
    padding: 3px;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: Arial;
    float: left;
}
.logo{
    float: left;
    width: 95%;
    margin: 10px;
}
.logo img{
    max-width: 200px;
    float: right;
}
.controls{
    width: 95%;
    float: left;
    display: flex;
    justify-content: space-between; 
    margin: 0 15px;
}
.controls button {
        border: 0;
    background-color: transparent;
    font-size: 6em;
    color: white;
}
.controls .vol button{
    font-size: 1.7em;
}
.cont-player{
    width: 100%;
    float: left;

}
.mejs__container{
    width: 100% !important;
    background-color: transparent !important;
}
.mejs__controls{
    background: transparent !important;
}
.mejs__time {
    visibility: hidden;
}
.mejs__time-rail{
   visibility: hidden; 
}
.mejs__play > button{
    width: 80px !important;
    height: 80px !important;
    background-size: 1800px !important;
}
.mejs__pause > button {
    width: 80px !important;
    height: 80px !important;
    background-size: 1800px !important;
    background-position: -90px 0 !important;

}